header {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #7a0691;
  background-image: url(../images/argyle.png);
  padding-top: 120px;
  color: charcoal;
}
.div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-2 {
  display: flex;
  justify-content: center;
}