header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: khaki;
  background-image: url(../images/argyle.png);
}
.div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-2 {
  display: flex;
  justify-content: center;
}