nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #fff;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
 #pg-title {
  font-family: 'Bungee', sans-serif;
  padding-right: 1.5em;
  padding-left: 1.5em;
  font-size: 35px;
}
#right-span {
  font-family: "Source Sans Pro", sans-serif;
  align-self: center;
  
}
#arrow {
  order: 2;
  margin-left: 75px;
}


